h2 {
    margin-top: 10rem;
}

button {
    width: auto;
    border-radius: 50%;
    margin-top: 2rem;;
}
main{
    margin-bottom: 15rem;
}
.buy {
    width: auto;
    border-radius: 10px;
    margin-top: 2rem;;
}

main .row  {
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #725417;
    border-radius: 10px;
}

main .row div{
    border-right:solid 0.5px #725417;
    align-items: center;
}

/* .ok{
    align-items: center;
} */